<section class="container-fluid home-bg-color font-color d-flex flex-column">
    <div class="row d-flex flex-grow-1 justify-content-center align-items-center">
        <div class="col-12 text-center">

            <h1 class="main-font-size-heading">Melvina</h1>
            <h1>Software Developer</h1>
            <div class="icon-container">
              
                <app-icons 
                [cIcon]="[faLinkedinIcon,cIcon,color]" 
                [href]='linkedinUrl' 
                [cToolTip]="[toolTip,color]"
                [toolTitle]='linkedin'>
                </app-icons>

                <app-icons 
                [cIcon]="[faGithubIcon,cIcon,color]" 
                [href]='githubUrl' 
                [cToolTip]="[toolTip,color]"
                [toolTitle]='github'>
                </app-icons>
                
                <app-icons 
                [cIcon]="[faCvIcon,cIcon,color]" 
                [href]='cvUrl' 
                [cToolTip]="[toolTip,color]"
                [toolTitle]='cv'>
                </app-icons>

            </div>

        </div>
    </div>
</section>