.home-bg-color{
    background-color: #FCF0CF;
    min-height: calc(100vh - 68px);
 }
 .main-font-size-heading{
    font-size: 8rem;
    font-weight: 400;                     
}

.icon {
  font-size: 5rem;
  padding: 1rem;
  /* color: #B16E4B; */
}
.icon:hover {
  color: white;
}
.toolT {
  width: 120px;
  top: 90%;
  visibility: hidden;
  overflow: hidden;
  justify-content: center;
  margin-left: -100px;
  /* color: #B16E4B; */
  text-align: center; 
  border-radius: 6px;
  padding: 5px 0;
  font-size: 1.3rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bolder;
  transition: all 0.5s ease-in-out;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.icon:hover .toolT {
  visibility: visible;
  top: 100%;
  transform: translate(0, 0);
}


@media only screen and (min-width: 200px) and (max-width: 767px) {
    .main-font-size-heading {
    font-size: 4rem;
  }
  .home-bg-color{
    background-color: #FCF0CF;
    height: 93vh;
 }
}
 
